<h3 class="eventName">{{eventName}}</h3>
<span class="close" role="button" {{action "close"}}>x</span>
<p>Events Fired: {{events.length}}</p>
<div class="eventList">
  {{#each events as |event|}}
    <div>
      {{event}}
    </div>
  {{/each}}
</div>
