body {
  background: white !important;
}

.description p {
  padding-bottom: 5px;
}

.version {
  padding-bottom: 0;
  margin-top: 1rem;
}

.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.screenshot {
  width: 100%;
}

.eventName {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.close {
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-left: 3px;
  padding: 2px 5px;
}

.close:hover {
  background-color: lightgray;
}

.flexContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.eventDisplay {
  position: relative;
  margin: 5px;
}

.eventDisplay .eventList {
  border: 1px dashed black;
  padding: 5px;
}

.idleDisplay .idleStatus {
  font-weight: bold;
}

.eventInput {
  border: 1px solid gray;
  border-radius: 2px;
}

footer {
  position: fixed;
  bottom: 0;
}
