body,
.badges {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p,
.title {
  text-align: center;
}

.eventName {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.close {
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-left: 3px;
  padding: 2px 5px;
}

.close:hover {
  background-color: lightgray;
}

.badgeInner {
  display: flex;
}

.badgeInner a {
  margin-left: 5px;
}

.flexContainer {
  align-items: top;
  display: flex;
  flex-direction: row;
}

.eventDisplay {
  position: relative;
  margin: 5px;
}

.eventDisplay .eventList {
  border: 1px dashed black;
  padding: 5px;
}

.idleDisplay .idleStatus {
  font-weight: bold;
}
