body,
.badges {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p,
.title {
  text-align: center;
}

.badgeInner {
  display: flex;
}

.badgeInner a {
  margin-left: 5px;
}

.flexContainer {
  align-items: top;
  display: flex;
  flex-direction: row;
}

.eventDisplay {
  margin: 5px;
}

.eventDisplay .eventList {
  border: 1px dashed black;
  padding: 5px;
}

.idleDisplay .idleStatus {
  font-weight: bold;
}
