<h3 class="eventName">{{this.eventName}}</h3>
<span class="close" role="button" {{on "click" this.closeDisplay}}>x</span>
<p>Events Fired: {{this.events.length}}</p>
<div class="eventList">
  {{#each this.events as |event|}}
    <div>
      {{event}}
    </div>
  {{/each}}
</div>
