<div class="eventDisplay">
  <h3 class="eventName">{{@eventName}}</h3>
  <span class="close" role="button" {{on "click" (fn @close @eventName)}}>x</span>
  <p>Events Fired: {{this.events.length}}</p>
  <div class="eventList">
    {{#each this.events as |event|}}
      <div>
        {{event}}
      </div>
    {{/each}}
  </div>
</div>